<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
</head>

<body>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>

    <div class="topnav">
    <a href="/">Home</a>
    <a href="inventory">Inventory</a>
    <a href="billing">Billing</a>
    </div>

{% else %}
  <p>Already have an account ? Please login :</p>
  <a href="{% url 'login' %}">Log In</a>
  <br>
  <p>If not having account, please sign-up here :</p>
  <a href="{%url 'signup' %}">Sign up</a>
{% endif %}

<div>
    {% block content %} {% endblock %}
</div>

</body>

</html>
