<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
</head>

<body>
    <div class="row">
        <div class="grid-container">
            <div class="grid-item">
                <button id="home">
                    <a href="/">Home</a>
                </button>
            </div>
            <div class="grid-item">
                <button id="inventory" >
                    <a href="/inventory/">Inventory</a>
                </button>
            </div>
            <div class="grid-item">
                <button id="billing">
                    <a href="/billing/">Billing</a>
                </button>
            </div>
        </div>
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>
